<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="" id="description">
	<meta name="keywords" content="">
	<meta name="author" content="Pzj">
	<title>我的评论</title>
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.6.4.min.js"></script>
	<link rel="stylesheet" href="__ROOT__/Public/css/reset_m.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/mycomment_m.css">
	
</head>
<body>
	<!-- 最上面 -->
	<div class="top-header">
		<a id="back-btn" href="javascript:history.go(-1)" class="top-header-back">返回</a>
		<span>我的评论</span> 
	</div>
	<!-- 评论主体 -->
	<div class="comment-container">
		<div class="total">我的点评(共8条)</div>
		<div id="mycomment">			
			<div class="comment-list">
		        <a href="javascript:;" class="next">事件类型</a> <!-- 可以链接到详情页 -->
		        <div class="title">评论内容asdlkassjdjlk埃里克森多久啊克里斯蒂金坷垃手机端阿萨德阿萨德记录卡急死了肯德基克拉克</div>
		        <div class="morebtn"><i class="i_global upicon downicon"></i></div>
		        <div class="comment-head">
				    <span class="comment-time">评论时间</span>
				    <span class="reply fr"><a class="reply-a" href="javascript:void(0)">查看回复</a></span>
				    <span style="display: none" class="reply-up fr"><a href="javascript:void(0)" class="reply-upa">收起回复</a></span>
				</div>
				<div class="comment-foot">
					<span>管理员：</span><span>asdasdaasdasdafsssssssssssssssssssssssssssssssss坚实的考虑房价圣诞快乐反键卢卡斯的风景快乐撒静安寺考s</span><span>(管理员回复时间)</span>
				</div>
		    </div>			
			
		</div>
	</div>

	<script type="text/javascript">
		//查看回复
		function getReply() {
			$(".reply-a").click(function() {
				/*$(this).parent().parent().find(".comment-foot").css({"display":"block"});*/
				$(this).parent().parent().parent().find(".comment-foot").css({"display":"block"});
				$(this).parent().hide();
				$(this).parent().parent().find(".reply-up").css({"display":"inline-block"});
				return false;			 
			});
		}
		getReply();

		//收起回复
		function getReplyUp() {
			$(".reply-upa").click(function() {
				$(this).parent().parent().parent().find(".comment-foot").css({"display":"none"});
				$(this).parent().hide();
				$(this).parent().parent().find(".reply").show();
				$(this).parent().parent().parent().parent().find(".reply-bottom").css({"display":"none"});				
				return false;			 
			});
		}
		getReplyUp();
	</script>
</body>
</html>