<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="" id="description">
	<meta name="keywords" content="">
	<meta name="author" content="Pzj">
	<title>详情页</title>	 
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/more.css">
</head>
<body>
	<header role="header" class="head_wrap">
		<div class="main_head">
			<a href="#"><img id="logo_img" src="__ROOT__/Public/image/logo_img.png"/></a>
			<span class="head_txt">欢迎进入日历网<a class="register_txt" href="#">注册</a>或<a href="#">登录</a></span>
			<div class="search_wrap">
				<input type="text" name="search_input" class="search_input"/><button class="search_btn">搜索</button>
			</div>
		</div>
		<div class="sub_head_wrap">
		<ul class="sub_head">
			<li style="margin-left: 65px;border-left: none;"><a href="#">首页</a></li>
			<li><a href="#">今年</a></li>
			<li><a href="#">本月</a></li>
			<li><a href="#">本周</a></li>
			<li class="active" ><a href="#">今日</a></li>
			<li style="border-right: none;"><a href="#">热门</a></li>
		</ul>
		</div>
	</header>
	<div class="container clearfix">
		<div class="pannel">
			<div class="title">
				<!-- <div class="level fr"><span class="active-lev">活动等级：</span><span class="number">3</span></div> -->
				<h1>大甩卖</h1>
				<h3>上海海事大学</h3>
				
			</div>
			<div class="job-info">
				<p class="address">
					<span>
						<i class="icon" title="举办地址"></i>
						<span>上海</span>
					</span>					
				</p>
				<p class="date-time">				
					<span>开始时间：</span>
					<span>2016-12-18 10:00</span>
					<span class="over-time">结束时间：</span>
					<span>2016-12-18 11:00</span>
				</p>
				<p class="type">
					<span>
						<i class="icon" title="类型"></i>
						<span>军事</span>
					</span>	
				</p>
				<p class="people">
					<span>
						<span>联系人：</span>
						<span>啦啦啦</span>
					</span>	
				</p>
				<p class="people">
					<span>
						<span>联系人手机：</span>
						<span>1321321313</span>
					</span>	
				</p>
			</div>
		</div>	
		<div class="detail">
			<div class="job-item">
				<div class="job-title"><span class="line"></span><span>活动简介：</span></div>
				<div class="job-info"><span>啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦啦asffffffffff啦啦啦啦啦 </span>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="foot_up">
			<ul class="subfoot_left" style="margin-left: 350px;">
				<li><a href="#" style="border-bottom: 2px solid #fff;padding-bottom: 13px;">About us</a></li>
				<li>Tel：0411-84724185</li>
				<li>Email：dlhsjy@vip.126.com</li>
				<li>地址:辽宁省大连市甘井子区凌海路1号大连海事大学</li>
			</ul>
			<ul class="subfoot_right" style="margin-left: 200px;">
				<li style="border-bottom: 2px solid #fff;padding-bottom: 13px;width: 69px;">友情链接</li>
				<li><a href="#">蝌蚪就业</a></li>
				<li><a href="#">大连海事大学</a></li>
			</ul>
		</div>
		<div class="foot_down">Copyright &copy; 2014 myjob.dlmu.edu.cn 版权所有<span id="bidui" style="display: none;color:#C1C0C0; "></span></div>
	</footer>
</body>
</html>