<footer>
	<div class="foot_up">
		<ul class="subfoot_left" style="margin-left: 350px;">
			<li><a href="#" style="border-bottom: 2px solid #fff;padding-bottom: 13px;">About us</a></li>
			<li>Tel：0411-84724185</li>
			<li>Email：dlhsjy@vip.126.com</li>
			<li>地址:辽宁省大连市甘井子区凌海路1号大连海事大学</li>
		</ul>
		<ul class="subfoot_right" style="margin-left: 200px;">
			<li style="border-bottom: 2px solid #fff;padding-bottom: 13px;width: 69px;">友情链接</li>
			<li><a href="#">蝌蚪就业</a></li>
			<li><a href="#">大连海事大学</a></li>
		</ul>
	</div>
	<div class="foot_down">Copyright &copy; 2014 myjob.dlmu.edu.cn 版权所有<span id="bidui" style="display: none;color:#C1C0C0; "></span></div>
</footer>