{__NOLAYOUT__}
<layout name="Public/mlayout" />
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="" id="description">
	<meta name="keywords" content="">
	<meta name="author" content="Pzj">
	<title>个人中心页</title>
	<script type="text/javascript" src="{$Think.config.JS_URL}jquery-1.6.4.min.js"></script>
	<link rel="stylesheet" href="{$Think.config.CSS_URL}reset_m.css">
	<link rel="stylesheet" href="{$Think.config.CSS_URL}personal_m.css">
</head>
<body>
		<!-- 最上面 -->
<!--	<div class="top-header">
		<a id="back-btn" href="javascript:history.go(-1)" class="top-header-back">返回</a>
	</div>
	<div class="bottom-header">
		 <a class="user-pic" href="javascript:;">
		 	<img src="{$Think.config.IMG_URL}userlogo.png" alt="用户头像">
		 </a><br>
		 <a href="javascript:;" class="btn-header">登录</a>
		 <a href="javascript:;" class="btn-header">注册</a> 
		 <span class="myid" style="display: none;">你好,某某某</span>  登录成功,休改display为inline-block 
	</div>-->
	<ul class="middle-list">
	    <li class="border-1px">
	        <a id="middle-list-zl" class="next" href="{:U('mInfomation')}"><span class="icon-info"></span>我的资料</a>
	    </li>
	    <li class="border-1px">
	        <a id="middle-list-pl" class="next" href="{:U('mComment')}"><span class="icon-comment"></span>我的评论<em class="num">{$comment_number}</em></a>
	    </li>
	    <li class="border-1px">
	        <a id="middle-list-sc" class="next" href="{:U('mCollect')}"><span class="icon-collect"></span>我的收藏<em class="num">{$collect_number}</em></a>
	    </li>
	    <li class="border-1px">
	        <a id="middle-list-tx" class="next" href="{:U('mRemind')}"><span class="icon-alert"></span>我的提醒<em class="num">{$remind_number}</em></a>
	    </li>
	</ul>
	<!-- 退出登录 -->
<!--	<div class="out" style="display: none;">
		<a href="{:U('User/logout?is_m=1')}" id="lgout">退出登录</a>  登录成功,休改display为inline-block . 退出登录后,休改display为none
	</div>-->
</body>
</html>