{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="" id="description">
	<meta name="keywords" content="">
	<meta name="author" content="Pzj">
	<title>我的资料</title>
	<script type="text/javascript" src="{$Think.config.JS_URL}jquery-1.6.4.min.js"></script>
	<link rel="stylesheet" href="{$Think.config.CSS_URL}reset_m.css">
	<link rel="stylesheet" href="{$Think.config.CSS_URL}myinformation_m.css">
</head>
<body>
	<!-- 最上面 -->
	<div class="top-header">
		<a id="back-btn" href="javascript:history.go(-1)" class="top-header-back">返回</a>
		<span>我的资料</span>
		<i class="edit-icon"></i>
                <span class="save" onclick="saveInfo(this)">保存</span>
	</div>
	<!-- 编辑资料 -->
	<div class="container">
		<div class="my-header">
			<a class="user-pic" href="javascript:;">
			 	<img src="{$Think.config.IMG_URL}userlogo.png" alt="用户头像">
			</a>
			<span>{$user.user_mail}</span>
		</div>
		<div class="my-name my-header">
			<span>我的姓名</span>
			<i class="my-postion edit-inf">{$user.user_relname}</i>
			<input type="text" name="relname" class="input-postion myinput">
		</div>
		<div class="my-class my-header">
			<span>专业班级</span>
			<i class="my-postion edit-inf">{$user.user_class}</i>
			<input type="text" name="userclass" class="input-postion myinput">
		</div>
		<div class="my-state my-header">
                    <span>邮箱状态</span>
                    <if condition="($user['mail_check'] eq 1)">
			<i class="my-postion">已激活</i> 
                        <else/>
			<i class="my-postion">未激活</i> 
                    </if>

		</div>
	</div>

	<script>
		//信息保存
		function saveInfo(obj) {
			//$('.save').click(function(){				
				$(obj).css("display","none");	 
				$(obj).parent().find(".edit-icon").show();
				$(".my-name input[type='text']").css("display","none");
				$(".my-class input[type='text']").css("display","none");
				var edit_inf=document.getElementsByClassName("edit-inf");
				var myname="";
				var myclass="";
				for(var i=0;i<edit_inf.length;i++){
					myname=edit_inf[0].innerHTML;
					myclass=edit_inf[1].innerHTML;					
				}

                                var inputname = $("input[name='relname']").val();
                                var inputclass = $("input[name='userclass']").val();

                                if(inputname=="" || inputclass==""){
                                    //alert(1);
                                    return false;
                                }
                                
                                if(inputname==myname || inputclass==myclass){
                                    //alert(2);
                                    return false;
                                }

                                $.ajax({
                                    type : 'post',
                                    //url : '/index.php/Home/User/editInfo',
                                    url : '__ROOT__/Home/User/editInfo',
                                    data : {user_relname:inputname,user_class:inputclass},
                                    dataType : 'json',
                                    success : function(res){
                                        //res = json_decode(res);
                                            if(res.status == 1){
                                                    window.location.href = "{:U('User/mInfomation','','')}";
                                            }else{
                                                //alert(res.msg);
                                            }
                                    },
//            			error : function(XMLHttpRequest, textStatus, errorThrown) {
//            				showErrorMsg('网络失败，请刷新页面后重试');
//            			}
                            });

			//});			 
		}
		saveInfo();

		//信息编辑
		function myEdit() {
			$('.edit-icon').click(function(){		
				$(".my-name input[type='text']").css("display","inline-block");
				$(".my-class input[type='text']").css("display","inline-block");
				$(this).hide(); 
				$(this).parent().find(".save").css("display","inline-block");
				 
			});
			$('.my-thing').click(function() {
				//$(this).siblings().slideUp();
			/*	$('.submenu').fadeOut();
				$('.submenu').fadeIn();*/
				var flag = $(".submenu").css("display");
		        if(flag == 'none') {
		            $(".submenu").show();
		            $('.sidebar .nav .menu-sub .icon').css("background-image","url({$Think.config.IMG_URL}i_02.png)");
		        }else {
		            $(".submenu").hide();
		            $('.sidebar .nav .menu-sub .icon').css("background-image","url({$Think.config.IMG_URL}i_01.png)");
		        }
				 return false;
			});
		}
		myEdit();
	</script>
</body>
</html>