<form id="pagerForm" action="__ROOT__/Admin/User/userList" method="post">
	<input type="hidden" name="page" value="{$currentPage}"/>
	<input type="hidden" name="username" value="{$username}"/>
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="__ROOT__/Admin/User/userList" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>用户名：</label>
				<input type="text" name="username" value="{$username}" alt="请输入用户名"/>
				<input type="hidden" name="page" value="{$currentPage}"/>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">

			 
			<li><a class="delete" href="__ROOT__/Admin/User/delUser/userid/{sid_user}" target="ajaxTodo" title="你确定要删除吗？" warn="请选择用户"><span>删除</span></a></li>
			
			<li><a class="delete" href="__ROOT__/Admin/User/noComment/userid/{sid_user}" target="ajaxTodo" title="你确定要禁用评论权限吗？" warn="请选择用户"><span>禁用评论权限</span></a></li>
			 
			 <li><a class="delete" href="__ROOT__/Admin/User/okComment/userid/{sid_user}" target="ajaxTodo" title="你确定要启用评论权限吗？" warn="请选择用户"><span>启用评论权限</span></a></li>

		</ul>
	</div>

	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th>用户名</th>
            <th>性别</th>
			<th>年龄</th>
			<th>邮箱</th>
			<th>邮箱状态</th>
			<th>状态</th>
			<th>评论权限</th>
			<th>创建时间</th>
			<th>修改时间</th>
		</tr>
		</thead>
		<tbody>
		<volist id="vo" name="result">
			<tr target="sid_user" rel="{$vo['user_id']}">
				<td>{$vo['username']}</td>
				<td>
				<if condition="($vo['gender'] eq 0)">男
				 <elseif condition="$vo['gender'] eq 1"/>女
				</if>
				</td>
				<td>{$vo['age']}</td>
				<td>{$vo['user_mail']}</td>
				<td>
				 <if condition="($vo['mail_check'] eq 0)"><font color="red">未验证</font>
				 <elseif condition="$vo['mail_check'] eq 1"/><font color="green">已验证</font>
				</if>
				</td>
				<td>
				 <if condition="($vo['status'] eq 0)"><font color="red">无效</font>
				 <elseif condition="$vo['status'] eq 1"/><font color="green">有效</font>
				</if>
				</td>
                 <td>
				 <if condition="($vo['is_comment'] eq 0)"><font color="red">禁用</font>
				 <elseif condition="$vo['is_comment'] eq 1"/><font color="green">启用</font>
				</if>
				</td>
				<td>{$vo['createdate']}</td>
				<td>{$vo['updatedate']}</td>
			</tr>
		</volist>
		</tbody>
	</table>
 
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage"
				onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20">
					20
				</option>
			</select>
			<span>条，共{$totalCount}条，共{$totalPage }页</span>
		</div>

		<div class="pagination" targetType="navTab"
			totalCount="{$totalCount}" numPerPage="{$pageSize }"
			pageNumShown="10" currentPage="{$currentPage }"></div>
	</div>
</div>


